<ion-view view-title="" >
    <ion-content class="{{ segmentoFormateado() }}" >
        <div class="row bread">
         <div class="col" style="text-align: center;">{{ nombre() }}</div>
       </div>
        <div class="list" ng-init="init()">
            <div class="estrella">
                <span class="estrella-img"></span>
                <span class="estrella-text">Mamá Empresaria <strong>{{ segmento() | pascal }}</strong></span>
            </div>
            <div class="campana">
            <div class="campana-title">
                Estás en <strong>Campaña {{campana.numero}}</strong>
            </div>
            </div>
            
            <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoPagar() && saldo()>0" ng-click="mostrarAyudaSaldoPagar()">
                <div class="icono bocina"></div>
                <!-- <i class="icon ion-plus-circled"></i> -->
              <h2>Tienes un pago pendiente de <br /> {{ saldo() | currency }}.
                Realízalo antes del <br /> {{campana.fechaMontajePedido | date: 'dd' }} de {{campana.fechaMontajePedido | date: 'MMMM' }}
              </h2>
                <!--
                <p ng-show="flexibilizacionPago() > 0">Podrías pagar {{ flexibilizacionPago() | currency }}   <br /> y quedar debiendo {{ flexibilizacionDeuda() | currency }}</p>
                <p ng-show="flexibilizacionPago() == 0">Puedes dejar de pagar tu pedido <br /> esta campaña y pagarlo en la próxima.</p>
                -->
            </a>

            <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoPagar() && saldo()==0" >
                <div class="icono bocina"></div>
                <h2>No tienes pagos pendientes
                </h2>
            </a>
            
            <a class="item item-avatar alternate" href="#" ng-show="mostrarSaldoFavor()">
                <div class="icono bocina"></div>
              <h2>Tienes un saldo a favor de <br /> {{ saldo() | currency }}
              </h2>
            <p>&nbsp;</p>
            </a>
                        
            <a class="item item-avatar" href="#" ng-show="mostrarCupo()">
                <div class="icono moneda"></div>
              <h2>Realiza tu próximo pedido <br /> máximo por {{ cupo() | currency}}
              </h2>
            <p>&nbsp;</p>
            </a>
            
            <!-- ng-show="diasParaPago()>-1" -->
            <a class="item item-avatar {{ estiloAlternateFechaPago() }}" href="#" >
                <div class="icono calendario"></div>
              <h2>Realiza tu próximo pedido el<br />
                  {{campana.fechaMontajePedido | date: 'dd' }} de {{campana.fechaMontajePedido | date: 'MMMM' }}
              </h2>
              <p>Te quedan {{ diasParaPago() }} días</p>
            </a>
            
        </div>
    </ion-content>
</ion-view>