<ion-view view-title="" >
    <ion-content >
    	<span class="padding-left">{{ nombre() }}</span>	
        <div class="list" ng-init="init()">
            <label class="item">
                Estás en Campaña {{campana.numero}}
            </label>
            <label class="item item-icon-right">
                <i class="icon ion-star"></i>
                Eres una Mamá {{ segmento() }}
            </label>
            
            <a class="item item-avatar" href="#" ng-show="mostrarSaldoPagar()">
              <img src="img/coins.png">
              <h2>Tienes un pago pendiente por <br /> {{ saldo() | currency }}
                y debes realizarlo hasta   <br /> {{campana.fechaMontajePedido | date: 'MMMM dd' }}
              </h2>
            <p>Podrías pagar {{ flexibilizacionPago() | currency }}   <br /> y quedar debiendo {{ flexibilizacionDeuda() | currency }}</p>
            </a>
            
            <a class="item item-avatar" href="#" ng-show="mostrarSaldoFavor()">
              <img src="img/coins.png">
              <h2>Tienes un saldo a favor de {{ saldo() | currency }}
              </h2>
            <p>&nbsp;</p>
            </a>
                        
            <a class="item item-avatar" href="#" ng-show="mostrarCupo()">
              <img src="img/creditcard.png">
              <h2>Puedes realizar pedidos hasta <br /> máximo {{ cupo() | currency}}
              </h2>
            <p>Podrías aumentar tu cupo si...</p>
            </a>
            
            <!-- ng-show="diasParaPago()>-1" -->
            <a class="item item-avatar" href="#" >
              <img src="img/calendar.png">
              <h2>Tu fecha máxima de Montaje<br /> de Pedido es
                {{campana.fechaMontajePedido | date: 'MMMM dd' }}
              </h2>
              <p>Te quedan {{ diasParaPago() }} días</p>
            </a>
            
        </div>
    </ion-content>
</ion-view>