<ion-view view-title="" >
    <ion-content >
    	
    	
    	<div class="row">
  <div class="col"><</div>
  <div class="col col-50">Febrero, 2015</div>
  <div class="col">></div>
</div>

<div class="row">
  <div class="col positive">D</div>
  <div class="col positive">L</div>
  <div class="col positive">M</div>
  <div class="col positive">M</div>
  <div class="col positive">J</div>
  <div class="col positive">V</div>
  <div class="col positive">S</div>
</div>

<div class="row">
  <div class="col">
      <a class="item item-icon-right">
         <i class="icon ion-ios-people-outline"></i>
         1
      </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      2
    </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      3
    </a>
  </div>
  <div class="col">
     <a class="item item-icon-right">
      4
    </a>
  </div>
  <div class="col">
     <a class="item item-icon-right">
      5
    </a>
  </div>
  <div class="col">
     <a class="item item-icon-right">
      6
    </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      7
    </a>
  </div>
</div>

<div class="row">
  <div class="col">8</div>
  <div class="col">9</div>
  <div class="col">10</div>
  <div class="col">11</div>
  <div class="col">12</div>
  <div class="col">13</div>
  <div class="col">14</div>
</div>
    	

<div class="row">
  <div class="col">15</div>
  <div class="col">16</div>
  <div class="col">17</div>
  <div class="col">18</div>
  <div class="col ">19</div>
  <div class="col assertive">20</div>
  <div class="col">21</div>
</div>

<div class="row">
  <div class="col">22</div>
  <div class="col positive">23</div>
  <div class="col">24</div>
  <div class="col">25</div>
  <div class="col">26</div>
  <div class="col">27</div>
  <div class="col">28</div>
</div>


<div class="list">

  <div class="item item-divider">
    Lunes, 23 de Febrero
  </div>

  <a class="item" href="#">
    <h2>10:00 am</h2>
    <p>Encuentro en la casa Las Esperanzas</p>
  </a>
  
  <a class="item" href="#">
    <h2>12:00 m</h2>
    <p>Taller Empresarias del Futuro</p>
  </a>

</div>
    	
    </ion-content>
</ion-view>