<ion-view view-title="" >
    <ion-content >
    	
    	
    	<div class="row">
  <div class="col"><</div>
  <div class="col col-50">Febrero, 2015</div>
  <div class="col">></div>
</div>

<div class="row">
  <div class="col positive">D</div>
  <div class="col positive">L</div>
  <div class="col positive">M</div>
  <div class="col positive">M</div>
  <div class="col positive">J</div>
  <div class="col positive">V</div>
  <div class="col positive">S</div>
</div>

<div class="calendario">


<div class="row">
  <div class="col">
      <a class="item item-icon-right">
         <i class="icon ion-ios-compose-outline"></i>
         1
      </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      <i class="icon ion-ios-people-outline"></i>
      2
    </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      3
    </a>
  </div>
  <div class="col">
     <a class="item item-icon-right">
      <i class="icon ion-laptop"></i>
      4
    </a>
  </div>
  <div class="col campana-actual">
     <a class="item item-icon-right campana-actual">
      5
    </a>
  </div>
  <div class="col campana-actual">
     <a class="item item-icon-right campana-actual">
      6
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      7
    </a>
  </div>
</div>

<div class="row">
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      8
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      <i class="icon ion-android-bus"></i>
      9
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      10
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      11
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      12
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      13
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      14
    </a>
  </div>
</div>
    	

<div class="row">
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      15
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      16
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      17
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      18
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      19
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      20
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      21
    </a>
  </div>
</div>

<div class="row">
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      22
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      <i class="icon ion-ios-people-outline"></i>
      23
    </a>
  </div>
  <div class="col assertive campana-actual">
    <a class="item item-icon-right campana-actual">
      24
    </a>
  </div>
  <div class="col campana-actual">
    <a class="item item-icon-right campana-actual">
      <i class="icon ion-laptop"></i>
      25
    </a>
  </div>
  <div class="col positive">
    <a class="item item-icon-right">
      26
    </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      27
    </a>
  </div>
  <div class="col">
    <a class="item item-icon-right">
      28
    </a>
  </div>
</div>



 <div class="padding" >
      <span class="leyenda-campana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      Campaña 4
 </div> 


</div>

<div class="list">

  <div class="item item-divider">
    Jueves, 26 de Febrero
  </div>

  <a class="item" href="#">
    <h2>10:00 am</h2>
    <p>Encuentro en la casa Las Esperanzas</p>
  </a>
  
  <a class="item" href="#">
    <h2>12:00 m</h2>
    <p>Taller Empresarias del Futuro</p>
  </a>
  
  <a class="item" href="#">
    <h2>&nbsp;</h2>
    <p>&nbsp;</p>
  </a>

</div>
    	
    </ion-content>
</ion-view>