<ion-view view-title="" >
    <ion-content >
    	
    	<div class="titulo-calendario">
    	<div class="row">
  <div class="col sin-borde" >
     <a class="item sin-borde" href="#" ng-click="disminuirMes()" ng-show="mostrarAtras()" >
        <
     </a>
  </div>
  <div class="col col-50">
    <a class="item" href="#" >
  {{ fechaVisibleCalendario() | date: 'MMMM' }} de {{ fechaVisibleCalendario() | date: 'yyyy' }}
    </a>
  </div>
  <div class="col" >
     <a class="item" href="#" ng-click="aumentarMes()" >
        >
     </a>
  </div>
</div>

</div>

<div class="row">
  <div class="col positive">D</div>
  <div class="col positive">L</div>
  <div class="col positive">M</div>
  <div class="col positive">M</div>
  <div class="col positive">J</div>
  <div class="col positive">V</div>
  <div class="col positive">S</div>
</div>

<div class="calendario">

<div class="row" ng-repeat="semana in semanas">
  <div class="col" ng-repeat="dia in semana">
      <a id='{{dia.fechaCompleta}}' class="item item-icon-right {{estiloTexto(dia.fechaCompleta)}}" href="#" ng-click="seleccionarFecha(dia.fechaCompleta)" ng-show="!fechaEsCampanaVisible(dia.fechaCompleta)">
         <i class="icon ion-ios-compose-outline" ng-show="false"></i>
         <i class="icon ion-laptop" ng-show="fechaEsCorreteo(dia.fechaCompleta)"></i>
         <i class="icon ion-ios-people-outline" ng-show="fechaEsEncuentro(dia.fechaCompleta)"></i>
         <i class="icon ion-android-bus" ng-show="fechaEsRepartoPedido(dia.fechaCompleta)"></i>
         {{ dia.dia }}
      </a>
      
      <a id='{{dia.fechaCompleta}}' class="item item-icon-right campana-actual {{estiloTexto(dia.fechaCompleta)}}" href="#" ng-click="seleccionarFecha(dia.fechaCompleta)" ng-show="fechaEsCampanaVisible(dia.fechaCompleta)">
         <i class="icon ion-ios-compose-outline" ng-show="false"></i>
         <i class="icon ion-laptop" ng-show="fechaEsCorreteo(dia.fechaCompleta)"></i>
         <i class="icon ion-ios-people-outline" ng-show="fechaEsEncuentro(dia.fechaCompleta)"></i>
         <i class="icon ion-android-bus" ng-show="fechaEsRepartoPedido(dia.fechaCompleta)"></i>
         {{ dia.dia }}
      </a>
      
  </div>
</div>

 <div class="padding" >
      <span class="leyenda-campana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      Campaña {{ numeroCampana() }}
      <span class="leyenda-campana-siguiente">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      Campaña {{ numeroCampana() + 1 }}
 </div> 


</div>

<div class="list">

  <div class="item item-divider">
    {{ fechaSeleccionada | date: 'MMMM' }} {{ fechaSeleccionada | date: 'dd' }} de {{ fechaSeleccionada | date: 'yyyy' }}
  </div>

  <a class="item" href="#" ng-repeat="detalle in detalleFecha">
    <h2>{{ detalle.hora }}</h2>
     <p>{{ detalle.actividad }} <span ng-show="detalle.lugar">en</span> {{ detalle.lugar }} <br />
        {{ detalle.direccion }}
    </p>
  </a>
  
  <a class="item positive" href="#" ng-show="detalleFecha.length == 0">
    No tienes eventos para este día.
  </a>
  
  <a id="final" class="item" href="#">
    <h2>&nbsp;</h2>
    <p>&nbsp;</p>
  </a>

</div>
    	
    </ion-content>
</ion-view>