<ion-view view-title="Login">
    <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
     <button class="button button-clear icon-left ion-ios-star-outline" >Novaventa
                </button>
  </div>
</ion-header-bar>
    <ion-content>
        <h4 class="padding">¡Hola Mamá Empresaria!</h4>
        <span class="padding">Para identificarte y mostrar tu información, necesitamos conocer el número de tu cédula</span>
        <br /> 
        <form ng-submit="capturarCedula()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Cédula</span>
                    <input type="number" id="cedula" ng-model="datosInicio.cedula" >
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Continuar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>