<ion-view view-title="" >
    <ion-content>
       <span class="padding-left">Mi Negocio</span>	

        <div class="list">
            <a class="item item-divider" href="#">
                 A continuación el balance de tu Campaña:
            </a>
            <a class="item" href="#">
                 Lo que debes pagar:
                <span class="item-note">
                  $520.000
                </span>
            </a>
            <a class="item" href="#">
                 Lo que te has ganado:
                <span class="item-note">
                  $52.000
                </span>
            </a>
            <a class="item" href="#">
                 Tienes notas crédito por:
                <span class="item-note">
                  -$20.000
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>