<ion-view view-title="" >
    <ion-content>
       <span class="padding-left">Mi Negocio</span>	

        <div class="list">
            <a class="item" href="#">
                En tu último pedido tus ganancias fueron:
                <span class="item-note">
                  $52.000
                </span>
            </a>
            <a class="item" href="#" >
                <h2>Debes pagar:
                </h2>
                <p>Este valor ya incluye los descuentos ($20.000) <br />
                realizados por Notas Crédito</p>
                <span class="item-note">
                  $520.000
                </span>
            </a>
            <a class="item" href="#" >
                <h2>Para tu próximo pedido puedes dejar <br /> de pagar:
                </h2>
                <span class="item-note">
                  $50.000
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>