<ion-view view-title="" >
    <ion-content>
        <span class="padding-left">Mi Pedido</span>
        <div class="list list-inset">
            <div class="item item-divider">
                Tu pedido presenta novedad. Te invitamos a resolverla
            </div>
            <a class="item assertive" ng-click="verAyudaNovedad()" href="#">
                Has excedido tu cupo asignado.
            </a>
        </div>

        <div class="list pedido">

            <a class="item item-avatar" href="#" ng-show="pedido.razonRechazo" >
                El estado de tu pedido se verá reflejado el {{fechaCorreteo() | date: 'dd' }} de {{fechaCorreteo() | date: 'MMMM' }}
            </a>

            <a class="item item-avatar" href="#" ng-repeat="pedido in pedido().historiaEstados" ng-show="pedido.estado != 'Impresión'" >
               <img src="img/invoice.jpg">
               <h2>{{ cambiarNombreEstado(pedido.estado)}}
               </h2>
               <p>{{pedido.fecha | date: 'dd'}} de {{pedido.fecha | date: 'MMMM'}}</p>
                <div style="border-left: solid 1px #ccc; padding-left: 5px;" ng-show="pedido.estado != 'Cargue'">&nbsp;
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>