<ion-view view-title=" Mi Pedido" >
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-dropbox-outline"></i>
                 Recibido
                <span class="item-note">
                  Febrero 3
                </span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-dropbox-outline"></i>
                Facturación
                <span class="item-note">
                  Febrero 4
                </span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-star"></i>
                Camión
                <span class="item-note">
                  Febrero 6
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>