<ion-view view-title="" >
    <ion-content>
         
        <span class="padding-left">Mi Pedido</span>	
         
        <div class="list list-inset">

            <div class="item item-divider">
                Tienes las siguientes novedades
            </div>

            <a class="item assertive item-icon-right" ng-click="verAyudaNovedad()" href="#">
                Has excedido tu cupo asignado.
                <i class="icon ion-chevron-right"></i>
            </a>

        </div>

        <div class="list">
            <a class="item item-avatar" href="#" >
              <img src="img/invoice.jpg">
              <h2>Recibido
              </h2>
            <p>Febrero 6</p>
            </a>
            
            <a class="item item-avatar" href="#" >
              <img src="img/invoice.jpg">
              <h2>Facturación
              </h2>
            <p>Febrero 7</p>
            </a>
          
            <a class="item item-avatar" href="#" >
              <img src="img/box.png">
              <h2>Empacado
              </h2>
            <p>Febrero 9</p>
            </a>
            
            <a class="item item-avatar" href="#" >
              <img src="img/truck.png">
              <h2>En Camión
              </h2>
            <p>Febrero 10</p>
            </a>
            
        </div>
    </ion-content>
</ion-view>