<ion-view view-title="" >
    <ion-content>
        <div class="list" >
            <label class="item item-avatar">
                <div class="icono punto"></div>
                Puntos disponibles
                <span class="item-note">
                    {{ puntosDisponibles() }}
                </span>
            </label>
            <label class="item" ng-show="mostrarPuntosPorPerder()">
                Puntos a perder <br />
                (si no pagas antes del {{fechaMontajePedidoCampana() | date: 'dd' | lowercase}} de {{fechaMontajePedidoCampana() | date: 'MMMM' | lowercase}} )
                <span class="item-note">
                    {{ puntosPorPerder() }}
                </span>
            </label>
            <label class="item" ng-show="mostrarPuntosAVencer()">
                Puntos a vencer <br />
                esta campaña <!--  {{campanaVencimientoPuntos()}} -->
                <span class="item-note">
                    {{ puntosAVencer() }}
                </span>
            </label>
            <label class="item item-input">
                <span class="input-label">&nbsp;</span>
            </label>
            <a class="item item-icon-right" href="#/app/menu/tabs/mispremiosredimidos" ng-show="mostrarPuntosRedimidos()">
                Puntos redimidos campaña anterior
                <span class="item-note">
                  {{ puntosRedimidos() }}
                </span>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>