<ion-view view-title="Resumen de mis Puntos" >
    <ion-content>
        <div class="list" >
            <label class="item">
                Puntos disponibles
                <span class="item-note">
                    {{ puntos.puntosDisponibles }}
                </span>
            </label>
            <label class="item">
                Puntos a perder (si no pagas antes de XXX)
                <span class="item-note">
                    {{ puntos.puntosPorPerder }}
                </span>
            </label>
            <label class="item">
                Puntos a vencer campaña XXX
                <span class="item-note">
                    {{ puntos.puntosAVerncer }}
                </span>
            </label>
            <label class="item item-input">
                <span class="input-label">&nbsp;</span>
            </label>
            <a class="item item-icon-right" href="#/app/menu/tabs/mispremiosredimidos">
                Puntos redimidos campaña anterior
                <span class="item-note">
                  {{ puntos.puntosRedimidos }}
                </span>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>