<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="Inicio" href="#/app/menu/tabs/home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
        <ion-nav-view name="home-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mi Negocio" href="#/app/menu/tabs/mipedido" icon-on="ion-social-usd" icon-off="ion-social-usd-outline">
        <ion-nav-view name="pedido-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mi Pedido" href="#/app/menu/tabs/mipedido" icon-on="ion-android-bus" icon-off="ion-android-bus">
        <ion-nav-view name="pedido-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mis Puntos" href="#/app/menu/tabs/mispuntos"  icon-on="ion-ios-circle-filled" icon-off="ion-ios-circle-outline" >
        <ion-nav-view name="puntos-content"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Más" href="#/app/menu/tabs/mispuntos"  icon-on="ion-more" icon-off="ion-more" >
        <ion-nav-view name="puntos-content"></ion-nav-view>
    </ion-tab>
    <!-- 
    <ion-tab title="Donde Pagar" href="#/app/menu/tabs/puntospago/puntospagolistado">
        <ion-nav-view name="puntospago-content"></ion-nav-view>
    </ion-tab> -->
</ion-tabs>