<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mamaempresaria604952" version="1.0.0" 
xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" 
xmlns:gap = "http://phonegap.com/ns/1.0" >
  <name>Mama Empresaria</name>
  <description>
        Aplicación de Novaventa para las Mamás Empresarias
    </description>
  <author email="jdmazo@serviciosnutresa.com" href="http://wwww.novaventa.com/">
		Novaventa
    </author>
  <content src="index.html"/>
  
  <access origin="*"/>
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

    <feature name="GAPlugin" >
        < param name="android-package" value="com.adobe.plugins.GAPlugin"/>
    </feature>
  
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="com.adobe.plugins.gaplugin" />

  
</widget>