/* Empty. Add your own CSS if you like */

.pedido .item {
    border-color: #fff !important;
    padding-bottom: 0px;
}

.calendario .item {
    padding-left: 6px !important;
}

.calendario .campana-actual {
    background-color: #E0EBEB;
}

.calendario .item-icon-left .icon, .item-icon-right .icon{
   font-size: 22px;
   margin-left: 2px !important;
}

.leyenda-campana{
   background-color: #E0EBEB;
   height: 10px;
   width: 50px;
   margin-right: 10px;
}